<div class="start-page-container">
    <div class="start-page-container_images-block">
        <div class="start-page-container_images-block_girl-block">
            <img class="start-page-container_images-block_girl-block__img" 
            src="/assets/image/start-page-girl.png" alt="">
        </div>
        <div class="start-page-container_images-block_male-block">
            <img class="start-page-container_images-block_male-block__img"
            src="/assets/image/start-page-man.png" alt="">
        </div>
        <div class="start-page-container_images-block_phone-block">
            <img class="start-page-container_images-block_phone-block__img"
            src="/assets/image/start-page-phone.png" alt="">
        </div>
        <div class="start-page-container_images-block_oldMan-block">
            <img class="start-page-container_images-block_oldMan-block__img"
            src="/assets/image/start-page-old-man.png" alt="">
        </div>
    </div>

    <div class="start-page-container_started-block">
        <h3 class="start-page-container_started-block__header">
            Enjoy the new experience of chating with global friend
        </h3>
        <p class="start-page-container_started-block__txt">
            Connect people around the world for free
        </p>
        <div class="start-page-container_started-block__btn"
        [routerLink]='["/registration"]'>
            Get started
        </div>
        <div class="start-page-container_started-block_copyright">
            <p class="start-page-container_started-block_copyright__txt">Powered by:</p>
            <img class="start-page-container_started-block_copyright__img"
             src="/assets/image/start-page-copyright.png" alt="">
        </div>
    </div>
</div>